.DS_Store

# NPM
node_modules/

# Dev
dev/
dev_firefox/
dev_safari/

# Prod
dist/
dist_firefox/
dist_safari/
builds/
changelogs/
assets/shared
build/keys/
builds/crx/
releases/
*.pem
*.crx

# Xcode
*.xcuserstate
*.xcuserdatad

.context
.cursorrules
.env
context/
